﻿@{
    ViewBag.Title = "Los ejercicios";
}
<style>
    .wm-component-time{
        margin:10px;
        text-align:center;
        width:100%;
    }
    #wm-component-time-container{
        font-size:25px;
    }
    .wm-component-count{
        width: 30%;
        margin:auto;
    }
    textarea#wm-component-count-container{
        width:100%;
        height:200px;
    }
</style>



<div class="wm-component-time">
    <label for="wm-component-time-container">La hora actual es: </label> <div id="wm-component-time-container"></div>
</div>



<div class="wm-component-count">
    <label for="wm-component-count-container">Contador de letras: </label>
    <textarea id="wm-component-count-container" style="width:100%;" onkeyup="CountElements();"></textarea>
    <div id="wm-component-count-number"></div>
</div>


<script src="~/Scripts/js.js"></script>
